@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

body {
	background: #e1a210ce;
	font-family: "Roboto", sans-serif;
}

.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav {
	min-width: 250px;
}

.tab-content {
	flex: 1;
}

.form-group {
	margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
	padding: 15px 20px;
	border-bottom: 1px solid #ddd;
	border-radius: 5;
	color: #333;
}

.nav-pills .nav-link.active {
	color: #fff;
	background-color: #1b1e41;
}

.nav-pills a.nav-link i {
	width: 20px;
}

.img-circle img {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 5px solid #fff;
}

.form-control-dark {
	border-color: var(--bs-gray);
}

.form-control-dark:focus {
	border-color: #fff;
	box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
	font-size: 85%;
}

.dropdown-toggle {
	outline: 0;
}

.page {
	width: 15rem;
	font-size: 15px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 400;
	text-align: center;
}

.page:hover {
	background-color: #eaab1771;
}

#logoutBtn {
	color: white;
	border-radius: 20px;
	position: absolute;
	right: 0px;
	align-self: center;
}

.btn-primary {
	background-color: #1b1e41c2;
	border-color: #1b1e41c2;
}

.btn-primary:hover {
	background-color: #1b1e41;
	border-color: #1b1e41;
}

.btn-light {
	background-color: #eaab1771;
	background-color: #eaab1771;
}

.btn-light:hover {
	background-color: #eaab17;
	background-color: #eaab17;
}

header {
	background-color: #1b1e41;
	padding-top: 5px;
	padding-bottom: 5px;
	position: sticky;
}

.logoDesign {
	width: 60px;
	top: 0;
	left: 0;
}
.nav{
	align-self: center;
}