/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES CSS ====================*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: #14162E;
	text-align: center;
	justify-content: center;
}

#questionnaire {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 3%;
}

/* Styling the Form (Color, Padding, Shadow) */
form {
	background-color: #fff;
	border-radius: 10px;
	max-width: 650px;
	min-width: 600px;
	margin: 50px auto;
	padding: 30px 20px;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Styling form-control Class */
.form-control {
	text-align: left;
	margin-bottom: 25px;
}

/* Styling form-control Label */
.form-control label {
	display: block;
	margin-bottom: 10px;
}

/* Styling form-control input,
		select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
	border: 1px solid #777;
	border-radius: 10px;
	font-family: inherit;
	padding: 10px;
	display: block;
	width: 95%;
}

/* Styling form-control Radio
		button and Checkbox */
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
	display: inline-block;
	width: auto;
}

/* Styling Button */
button {
	color: #fff;
	background-color: #4070f4;
	border: none;
	border-radius: 25px;
	font-size: 17px;
	display: block;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 20px;
	cursor: pointer;
	letter-spacing: 1px;
	border-radius: 60px;
	height: 45px;
	transition: all 0.3s ease;
}

.button input:hover {
	background-color: #265df2;
}

.title {
	color: #fff;
	position: relative;
	margin-top: 30px;
	font-size: 25px;
	font-weight: 600;
	text-align: center;
}

.discription {
	color: #fff;
	position: relative;
	margin-top: 3px;
	font-size: 15px;
	font-weight: 100;
	text-align: center;
}

.logoDesign {
	display: flex;
	position: absolute;
	width: 150px;
	top: 0;
	left: 0;
}

#logoimg {
	max-width: 500px;
}

.logo {
	color: #fff;
	text-align: center;
	font-family: Inter, sans-serif;
}

.logo>div {
	margin-bottom: 20px;
}

h3 {
	font-size: 65px;
	font-weight: 800;
}

h6 {
	font-size: 20px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: DDA82A;
	font-weight: normal;
}

#ellipse {
	max-width: 20%;
	position: absolute;
	top: 4%;
	left: 20%;
	z-index: -1;
	opacity: 0.5;
}